<!--Second Nav Bar-->
<div class="col-sm-12 text-center mb-3">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto">
                    <li><button class="btn btn-danger" type="button" (click)="backToHome()">Back</button></li>

                </ul>
                <ul class="navbar-nav me-auto">
                    <li>
                        <div class="input-group">
                            <div class="form-outline">
                                <input type="search" placeholder="enter Payment Id" [(ngModel)]='paymentId' name="paymentId" class="form-control" />
                            </div>
                            <button type="button" class="btn btn-danger" (click)="searchByPaymentId(paymentId)"  >
                                <i class="bi bi-search"></i>
                            </button>
                        </div>

                       
                    </li>

                </ul>

            </div>
        </div>
    </nav>
</div>

<!--Table display-->


<table class="table">
    <thead class="thead-danger">
        <tr>
            <th scope="col">Payment Id</th>
            <th scope="col">Date</th>
            <th scope="col">BookId</th>
            <th scope="col">Book Name</th>
            <th scope="col">Publisher</th>
            <th scope="col">Price</th>
            <th scope="col">Read</th>
            <th scope="col">Refund</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let payment of payments">
            <td>{{payment.id}}</td>
            <td>{{payment.paymentDate}}</td>
            <td>{{payment.book.id}}</td>
            <td>{{payment.book.title}}</td>
            <td>{{payment.book.publisher}}</td>
            <td>{{payment.book.price }}</td>
            <td><button type="button" class="btn btn-light" (click)="readContent(payment)">Read</button></td>
            <td><button type="button" [disabled]="!payment.refundStatus" class="btn btn-light"
                    (click)="refund(payment)">Refund</button></td>
        </tr>

    </tbody>
</table>
<!--books display-->
<div class="row gy-2 my-2">
    <div class="col-sm-2" *ngFor="let book of bookData">
        <div class="card">
            <img [src]="book.book.image" width="50" height="160" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">
                    <label>Title: </label>
                    {{book.book.title}}
                </p>
                <p class="card-text">
                    <label>Price: </label> {{book.book.price| currency:'INR'}}
                </p>
               
            </div>
        </div>
    </div>