.thead-danger {
    background-color: rgb(232, 211, 211);
    color: black;
    font-weight: lighter;
}
th,td{
    border-color: lightgray;
}
table{
    border-bottom: none;
}











