.span{
    color: white;
    font-size: bold;
}
.col-auto {
    background-color: white;
}

.modal-content{
    width: 55%;
}
.form-check-input{
    background-color: rgb(209, 47, 47);
}
.labelHeader{
    font-weight: bold;
}