<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">

                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">

                    <li class="nav-item mt-3">

                        <button type="button" class="btn btn-danger" (click)="openModal()">
                            PurchasBook
                        </button>

                    </li>

                    <li class="nav-item mt-3">
                        <button type="button" class="btn btn-danger" (click)="openModal()">
                            Payment His
                        </button>
                    </li>

                    <li class="nav-item mt-3">
                        <button type="button" class="btn btn-danger" (click)="openModal()">
                            Refund Amt
                        </button>
                    </li>


                </ul>


            </div>
        </div>
        <div class="col py-3">
            <div class="row gy-3 my-3">

                <div class="col-md-3" *ngFor="let book of bookData">
                    <div class="card">
                        <img [src]="book.image" width="100" height="150" class="card-img-top" alt="...">
                        <div class="card-body">


                            <label>Title: </label>
                            <p>{{book.title}}</p>
                            <label>Publisher: </label>
                            <p>{{book.publisher}}</p>
                            <label>Category: </label>
                            <p>{{book.category}}</p>
                            <label>Content: </label>

                            <p class="card-text">
                                <small>Price: </small> {{book.price| currency:'INR'}}
                            </p>

                            <button type="submit" class="btn btn-danger" (click)='Buy(book)'>Buy</button>


                        </div>
                    </div>
                </div>










            </div>
        </div>
    </div>
</div>

<!--my books model-->


<div class="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':display}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Model Title</h4>
                <button type="button" class="close" aria-label="Close" (click)="onCloseHandled()"><span
                        aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">


                <div class="login col-lg-7">

                    <form [formGroup]="frmLogin" (ngSubmit)="MyBooksClick(frmLogin.value)">
                        <div class="form-group">
                            <label for="Email">Email address</label>
                            <input type="email" class="form-control" formControlName="emailId" name="emailId"
                                aria-describedby="emailHelp">
                        </div>
                        <dd class="text-danger" *ngIf="emailId.touched && emailId.invalid">
                            <span *ngIf="emailId.errors?.['required']">Name Required</span>
                            <span *ngIf="emailId.errors?.['minlength']">Name too Short..</span>
                        </dd>
                        <small>Please Enter Email </small>
                        <button type="submit" class="btn btn-danger col-lg-12">Submit</button>

                    </form>

                </div>



            </div>

        </div>
    </div>
</div>